@mainColor: #ff751a;

@import "pizza/card";

#header {
  width: inherit;
  margin:0;
  background-color: rgba(0, 0, 0, 0.8);
}

#work-time {
  font-size: 10pt;
}

#right-part {
  background-color: lightgrey;
}

#left-header{
  flex-basis: 75px;
  height: 75px;
  background-color: rgba(255, 117, 26, 1);
  font-size: 15pt;
}

#lower-header {
  padding-left: 10px;
}

.btn.btn-primary.orange {
  background-color: @mainColor;
  border-color: @mainColor;
  color: white;
}

.btn.btn-primary.orange:hover, .pl-min-del:hover {
  -webkit-filter: brightness(80%);
}

#line-all-pizza {
  font-size: 20pt;
}

#count-circle, #count-circle-bought {
  background-color: @mainColor;
  height:25px;
  width:25px;
  color:white;
  font-size: 12pt;
}

#count-circle-bought {
  width: 15px;
  height: 15px;
  font-size: 7pt;
}

.category-buttons {
  background-color: white;
  color:@mainColor;
  border:0;
}

.category-buttons.active {
  background-color: @mainColor;
  color: white;
}

.category-buttons:hover {
  background-color: @mainColor;
  color: white;
}

#order-header {
  height: 75px;
  font-size: 0.65rem;
}

#text-zam {
  font-size: 1rem;
}

#clear:hover {
  text-decoration: underline;
}

#announce-card {
  width:100px;
  height:100px;
  background-color: @mainColor;
  color:white;
  font-size: 1rem;
}

#order-footer {
  height: 100px;
  background-color: white;
}

.list-group-item {
  padding-right: 0;
}

.ordered-name {
  color: @mainColor;
}

.pl-min-del {
  box-sizing: border-box;
  font-size: 9pt;
}

.pl-min-del.plus {
  background-color: limegreen;
  border-color: limegreen;
}

.pl-min-del.minus {
  background-color: red;
  border-color: red;
}

.pl-min-del.delete {
  background-color: lightgrey;
  border-color: lightgrey;
  color: @mainColor;
}

.card-type {
  font-size: 11pt;
  height: 25px;
  top: -12.5px;
  right: -20px;
}

.card-type.new {
  background-color: red;
}

.card-type.popular {
  background-color: limegreen;
}